* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Gotham, sans-serif;
  font-size: 1.25em;
  color: #3f5240;
  background-color: #fdfffd;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.3)),
    url(paper.jpg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
	width: 100%;
	height: 50px;
	background-color: #b1bed7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
 }

 main {
	flex-grow: 1;
	padding-top: 50px;
 }
 
 #logo {
	width: max(100px, 18vw);
	background-color: #b1bed7;
	aspect-ratio: 35 / 4;
	padding: 0.4rem;
 }

footer {
	margin-bottom: 1.5em;
	margin-right: 0.5em;
	text-align: right;
	font-size: 0.5em;
   color: #65647a;
}


h1 {
  margin: 0.5em;
  text-align: center;
  font-size: 1.5em;
  color: #65647a;
}

.center-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -2.5em;
  justify-content: center;
  align-items: center;
  list-style-type: none; 
}

.selection-item {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #fdfffd;
  border: 2px solid #b1bed7;
  border-radius: 4px;
}

.center-textblock {
  display: flex;
  justify-content: center;
}

p {
  margin: 0.5em;
  padding: 0.2em;
  line-height: 1.5;
  background-color: #fdfffd;
  border-radius: 4px;
}

.button {
  text-decoration: none;
  color: #65647a;
}

.button:hover {
	color: #468847;
 }

 address {
	display: inline;
 }

 .address-anchor {
	color: #65647a;
 }

 .address-anchor:hover {
	color: #468847;
 }